.btn{
    margin-left:10px;
}
.list-products{
    width: 60%;
    margin: 50px auto;
}
.add-product{
    text-align: left;
}
.table{
    text-align: center;
    vertical-align: middle;
}
h1{
    text-align: center;
}